{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    'color-' ~ member_info.nid,
    'node-teaser--large',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<article{{ attributes.addClass(classes) }}>
<div class="node-teaser--large__container use-color">
  <div class="node-teaser--large__text">
    <h2>{{ label }}</h2>
  {% if content.field_start_date %}
    {% set start = content.field_start_date[0]['#markup'] | date('U') %}
    {% if content.field_end_date|length %}
        {% set end = content.field_end_date[0]['#markup'] | date('U') %}
    {% else %}
        {% set end = start %}
    {% endif %}
    <div class="node-teaser__date">
      {% include directory ~ '/templates/parts/dateformatting.html.twig' %}
    </div>
  {% endif %}
  {% if content.field_link %}
  <div class="node-teaser--large__buttons">{{ content.field_link }}</div>
  {% endif %}
  </div>
  <div class="node-teaser--large__image">
    {% if content.field_featured_image %}
      {{ content.field_featured_image }}
    {% else %}
      {{ content.field_image }}
    {% endif %}
  </div>
</div>
</article>
